extends layout

block content
	h1
		a(href="/posts/show/#{post._id}")= post.title
	p.meta Posted in 
		a(href="/categories/show/#{post.category}") #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
	img(src="/images/uploads/#{post.mainimage}")
	!=post.body

	br 
	hr
	if post.comments
		h3 Comments
		each comment, i in post.comments
			.comment
				p.commment-name #{comment.name}
				p.comment-text #{comment.body}
		br
	h3 Add Comment
	if errors
		ul.errors
			each error, i in errors
				li.alert.alert-danger #{error.msg}

	form.comment-form(method='POST', action='/posts/add-comment')
		input(name="post_id", type="hidden" value="#{post._id}")
		.form-control
			label Name
			input.form-control(type="text", name="name")
		.form-control
			label Email
			input.form-control(type="text", name="email")
		.form-control
			label Body
			textarea.form-control(id="body", name="body")
		br
		input.btn.btn-default(name="submit", type="submit", value="Add Comment")  

