extends layout

block content
	.container
		if books
			each book, i in books
				.col-md-3
					.thumbnail
						img(src="/images/uploads/#{book.cover}")
						.caption
							h3 #{book.title}
							p #{book.truncate}
							p 
								| Buy It 
								a(href="/books/details/#{book.id}", class="btn btn-primary") $#{book.price} 
							br
							a(a href="/books/details/#{book.id}", class="btn btn-info") Book Details
		else
			p Nothing to display.

